main {
  padding: 1.5rem 2rem;
}

.app-navbar {
  background-color: #A00D24;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.app-brand {
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #f3f3f3;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}